# ------------------------------------------------------------------------------
# ZR Library                                                     zr/[.gitignore]
# (c) balarabe@protonmail.com                                       License: MIT
# ------------------------------------------------------------------------------

# scripts, shortcuts, zip archives
*.bat
*.lnk
*.sh
*.zip

# log and debugging files
*.log
*.test
cover.out

# drafts and temporary files
*`*
_*
tmp.*

# misc. files
line_counts.txt

#eof
