# ------------------------------------------------------------------------------
# (c) Active Systems Enterprises                         balarabe@protonmail.com
# :v: 2019-04-28 16:41:12 2CB01B                                 zr/[.gitignore]
# ------------------------------------------------------------------------------

# scripts, shortcuts, zip archives
*.bat
*.lnk
*.sh
*.zip

# log and debugging files
*.log
*.test
cover.out

# drafts and temporary files
*`*
_*
tmp.*

# misc. files
line_counts.txt

#eof
